.anchorbutton {
  font-family: inherit;
  text-transform: none;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  font-size: 16px;
  line-height: 16px;
  min-height: 30px;

  width: auto;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);
  font-weight: bold;
  appearance: none;
  overflow-wrap: break-word;

  overflow: visible;
  text-decoration: none;

  background: none rgb(60, 206, 105);
  padding: 5px 12px;
  border-radius: 30px;
  border-color: rgb(60, 206, 105);
}
