.container {
  width: calc(25% - 8px);
  margin: 4px;
}

.itemcard {
  width: 100%;
  flex-grow: 1;
  display: flex;

  font-size: 16px;
  min-height: auto;
  border: none;
  background: none transparent;
  text-decoration: none;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(226, 232, 235);
}

.imagecontent {
  border-radius: 12px 12px 0px 0px;
}

.imagecontent img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
}

.itemcontent {
  background-color: white;
  padding: 8px;
  border-radius: 0 0 12px 12px;
}

.title {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: calc(40px);
  font-size: 16px;
  line-height: 20px;
}

.price {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 16px;
  line-height: 20px;
  max-height: none;
  color: rgb(60, 206, 105);
  white-space: nowrap;
  overflow-wrap: normal;
}
