html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.sm,
.md,
.lg {
  display: block !important;
}

@media (min-width: 960px) {
  .sm {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .lg {
    display: none !important;
  }
}
